<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset Notification</title>
</head>
<body>
    <h2>Password Reset Notification</h2>
    <p>Dear {{ user.get_display_name }},</p>
    
    <p>Your password has been reset by administrator {{ admin }}.</p>
    
    {% if require_change %}
    <p><strong>Note:</strong> You will be required to change your password upon your next login.</p>
    {% endif %}
    
    <p>If you did not request this change, please contact support immediately.</p>
    
    <p>Best regards,<br>{{ site_name }} Team</p>
</body>
</html>